{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Cadastro de usuário {% endblock %}</h1>

<form method="post">

    {{error}}

    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="name" value="{{ request.form['name'] }}"></input>

    </div>

    <div class="form-group">
        <label>Sobrenome</label>
        <input name="last_name" name="last_name" value="{{ request.form['last_name'] }}"></input>
    </div>

    <div class="form-group">
        <label>CEP</label>
        <input name="cep" name="cep" value="{{ request.form['cep'] }}"></input>
    </div>

    <button type="submit">Enviar</button>
</form>

{% endblock %}